body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#searchInput {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#searchButton {
    padding: 10px;
    border: none;
    background-color: #5cb85c;
    color: #fff;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #4cae4c;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    width: 300px;
    padding: 16px;
    background-color: azure;
    margin: 12px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.card img {
    max-width: 200px;
    max-height: 200px;
    display: block;
    margin: 0 auto 10px;
    border-radius: 50%;
}

.card h2 {
    text-align: center;
    color: #333;
    margin-bottom: 10px;
}

.card p {
    text-align: center;
    color: #777;
    margin-bottom: 10px;
}

.card button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: #d9534f;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.card button:hover {
    background-color: #c9302c;
}

.add-user-form {
    margin-top: 20px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center; 
}

.add-user-form h2 {
    text-align: center;
    color: #333;
    margin-bottom: 10px;
}

.add-user-form form {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    align-items: center;
}

.add-user-form label {
    text-align: left;
    width: 100%; 
    margin-bottom: 5px;
}

.add-user-form input {
    width: calc(100% - 20px); 
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.add-user-form button {
    width: calc(100% - 20px); 
    padding: 10px;
    border: none;
    background-color: #5cb85c;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.add-user-form button:hover {
    background-color: #4cae4c;
}
